table {
    width: 100%;
    border-spacing: 0px;
}

tr {
    width: "100%";
    display: "flex";
    align-items: "center";
    justify-content: "space-evenly";
    flex-direction: "row";
}

th {
    border: 1px solid black;
    margin: 0px
}